body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  border: none;
  width: 100%;
  background-color: white;
  color: black;
  padding: 20px;
  border: none;
}

button{
  border-radius: 10px;
  height: 50px;
  border: none;
  background-color: brown;
  color: white;
  margin:40px 20px;
}
